  *{
    margin:0;
  }
  .submit{
        background-color: rgb(6, 110, 229);
        color: azure;
        box-sizing:content-box;
        height: 20px;
        width: 50px;
        font-weight: lighter;
      }
      .link{
        text-decoration: none;
      }
      .box{
        background-color: cornflowerblue;
        text-align: center;
        padding: 20px;
        width: 400px;
      }
      .heading{
        width: 100%;
        height:60px;
        font-size: 35px;
        text-decoration: underline 2px;
        font-weight: bold;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
      
      }
      .bar{
        background-color:#0088BD;
        font-size: 22px;
        font-weight: bold;
        height: 40px;
        padding-top: 10px;
        padding-left: 5px;
        border:1px solid black;
        width: 100%;
      }
       span{
        height: fit-content;
       }
      .content{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
      }
    
      .navbar{
        width: 100%;
        display:inline-block;
        background:#0088BD;
      }
      .logo-heading{
        background-image: url(https://ppup.ac.in/img/header-logo.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        height:80px;
        width: 100%;
       }
